.audit-report {
  margin: 0 20px;
  color: #6c6c6c;

  &__title {
    margin-top: 20px;
  }
  /* Header Styles */
  &__header {
    border-radius: 5px;
    text-align: start;
    z-index: 1;
    padding: 1rem 0;
    position: sticky;
    top: 1px;
    background-color: #fafafa;

    h2 {
      margin: 0;
      font-size: 2.441rem;
      color: #007bff;
      line-height: 1.3;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 2rem;
      color: black;
      width: fit-content;
    }

    &-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    &-button {
      background-color: #69b5eb;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #5aa6d3;
      }
    }
  }

  &__overall_title {
    font-size: medium;
    margin-bottom: 4rem;
    display: flex;
    width: fit-content;
  }

  &__main_heading {
    font-size: medium;
    font-weight: 100;
  }

  &__icon {
    font-size: 1.5rem;
    color: black;
  }

  /* Section Styles */
  &__section {
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    margin: 20px auto;
    margin-top: 3px;
    border-radius: 5px;
    box-sizing: border-box;

    & h3 {
      margin-top: 0;
      font-size: 1.25rem;
      letter-spacing: 0;
      color: black;
      margin-bottom: 2rem;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
    }
  }

  &__subSection {
    margin-bottom: 30px;
    background: white;
    margin: 20px auto;
    border-radius: 5px;
    box-sizing: border-box;

    & h3 {
      margin-top: 0;
      font-size: 1.5rem;
      letter-spacing: 0;
      color: black;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-size: small;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 2px;
  }

  /* Data Score */
  &__score {
    margin-top: 20px;
    margin-left: 20px;
    width: 96%;
  }

  &__details {
    margin-top: 20px;
  }

  /* Data Section */
  &__data {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 1rem;
    gap: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;

      p {
        margin: 0;
      }
    }

    &-div {
      background-color: #fff;
      padding: 1.75rem 1rem;
      height: 100%;
      width: 16vw;
      border-radius: 0.5rem;
      text-align: start;
      border: 1px solid gray;
      position: relative;

      &-heading {
        font-size: medium;
        padding-bottom: 4px;
      }

      &-score {
        font-weight: bold;
        color: black;
      }

      &-hundred {
        font-size: small;
        font-weight: normal;
      }
    }
  }

  &__data-div img {
    height: 1rem;
    margin-top: 12px;
    margin-right: 2px;
  }

  &__data-div:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &__unavailable {
    color: black;
    font-size: medium;
  }

  /* Collapsible Section */
  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
      color: black;
    }
  }

  &__toggle-button {
    background-color: inherit;
    box-shadow: none;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &__collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &.expanded {
      max-height: 500px;
    }
  }
}

.fixed {
  position: fixed;
  top: 80px; /* Adjust according to your header height */
  left: 0;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.dropdown-domain {
  font-size: medium;
  margin: auto;
}

.tooltip {
  visibility: hidden;
  background-color: linear-gradient(
    90deg,
    rgba(155, 135, 245, 0.1) 0%,
    rgba(126, 105, 171, 0.1) 100%
  );
  color: black;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: small;
  white-space: nowrap;
  pointer-events: none;
}

/* Show tooltip only when hovering over a disabled button */
.tooltip-container button:disabled:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.glassmorhp {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorhp p {
  opacity: 0.1;
}

.glassmorhp svg {
  height: 1rem;
  margin-right: 3px;
}

.coming-soon {
  font-weight: bold;
  color: #6c6c6c;
  margin-left: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 0 5px;
  font-size: small;
  background: #e9ebeb;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.score-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.danger-svg {
  height: 1.5rem;
  color: gray;
}

.report-header div {
  display: flex;
  gap: 1rem;
}

/* Medium screens (e.g., tablets, 768px and up) */
@media (max-width: 1024px) {
  .audit-report {
    width: 100vw;
    margin: 10px;

    &__header {
      max-width: 90%;
    }

    &__section,
    &__subSection {
      padding: 15px;
      max-width: 80%;
    }

    &__data {
      flex-direction: column;
      gap: 15px;
    }

    .glassmorhp {
      border-radius: 8px;
    }
  }
}

/* Small screens (e.g., mobile, 480px and up) */
@media (max-width: 768px) {
  .audit-report {
    width: 100vw;
    font-size: medium;
    margin: 5px;

    &__header h2 {
      font-size: 1.5rem;
    }

    &__section,
    &__subSection {
      max-width: 100%;
      margin-right: 15px;
    }

    &__data {
      gap: 10px;
    }

    &__data-div {
      width: 100%;
      text-align: left;
      position: relative;
    }
    &__data-div img {
      position: relative;
      bottom: 1.5rem;
      height: 1rem;
      left: 12.5rem;
    }

    .glassmorhp {
      padding: 0;
    }

    .coming-soon {
      font-size: x-small;
      position: relative;
      top: auto;
      right: auto;
    }
  }
}

/* Extra small screens (e.g., very small devices, 360px and up) */
@media (max-width: 480px) {
  .audit-report {
    font-size: medium;

    &__header h2 {
      font-size: 1.2rem;
    }

    &__section,
    &__subSection {
      padding: 10px;
    }

    &__toggle-button {
      font-size: 0.85rem;
      box-shadow: none;
    }

    .glassmorhp {
      border-radius: 5px;
      padding: 0;
    }

    .coming-soon {
      font-size: x-small;
      margin: 2px;
    }

    .score-heading {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.selected-item {
  background: linear-gradient(45deg, #e3ffff, #e6e4ef);
}

.audit-report__back-button {
  padding: 5px 10px;
  background-color: #6fb1da;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;

  &:hover {
    background-color: #6fb1da;
  }
}

.audit-report__table {
  width: 85%;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1rem;
}

.audit-report__table th,
.audit-report__table td {
  padding: 12px 15px;
  text-align: center;
}

.audit-report__table th {
  background-color: #000;
  color: white;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.audit-report__table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.audit-report__table tr:nth-child(odd) {
  background-color: #ffffff;
}

.audit-report__table tr:hover {
  background-color: #e3f2fd;
  cursor: pointer;
}

.audit-report__details-button {
  padding: 8px 12px;
  background-color: #6fb1da;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audit-report__details-button:hover {
  background-color: #0277bd;
}

.report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.report-info {
  display: flex;
  flex-direction: column;
}

.dropdown-toggle {
  background: linear-gradient(
    90deg,
    rgba(155, 135, 245, 0.1),
    rgba(126, 105, 171, 0.1)
  );
  box-shadow: none;
  color: #696969;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: small;
  padding: 0px 5px;
  height: 40px;
  margin-top: 3px;
  width: 32rem;
  text-align: start;
}

.dropdown-menu {
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(155, 135, 245, 0.1),
    rgba(126, 105, 171, 0.1)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f8fafd;
  top: 3rem;
  width: 35%;
  left: 9rem;
}

.dropdown-menu button {
  margin-bottom: 0.5rem;
}

.dropdown-item {
  cursor: pointer;
  font-size: small;
  color: #333;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
}

.generate-report-button {
  border-color: transparent;
  background-color: #000;
  color: #fff;
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
  font-size: medium;
  margin-top: 2px;
}

.border-red {
  border: 1px solid rgb(255, 69, 69) !important;
}

.border-orange {
  border: 1px solid gray !important;
}

.border-green {
  border: 1px solid rgb(91, 221, 91) !important;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: small;
  margin-top: 1rem;
}
.pagination p {
  margin: 0;
  cursor: pointer;
}
