.report-details {
  color: #6c6c6c;

  /* Section Container */
  &__subSection {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;

    & h3 {
      margin-top: 0;
      font-size: 1.25rem;
      font-weight: bold;
      color: black;
      letter-spacing: 0;
      color: black;
    }
  }
  &__duplicate_subSection {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding-bottom: 1rem;

    & h3 {
      margin-top: 0;
      font-size: 1.25rem;
      font-weight: bold;
      color: black;
      letter-spacing: 0;
      color: black;
    }
  }

  /* Card Styles */
  &__card {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
  }

  /* Action Buttons */
  &__actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 1rem;

    button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: linear-gradient(90deg, #00e5e5, #9b87f5, #7e69ab);
      color: #fff;
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(90deg, #007bff, #0056b3);
      }
    }
  }

  &__data-div {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    height: 9rem;
    text-align: start;
    width: 16vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__data-div:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &__duplicate-data-div {
    background-color: #fff;
    border-radius: 0.5rem;
    height: 100%;
    text-align: center;
    padding: 14px 10px;
    width: 34vw;
  }

  &__duplicate-data-div:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &__data-item {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    white-space: nowrap;
    position: relative;
  }

  &__data-item p img {
    position: absolute;
    height: 1rem;
    top: 85%;
    right: 15px;
  }

  &__data-div-heading {
    font-size: 0.875rem;
    margin: 0;
    padding: 0.5rem;
    width: inherit;
    height: 50px;
  }
  &__data-div-heading p {
    width: 14vw;
    text-wrap: auto;
  }

  &__data-div-score {
    color: black;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0.75rem 0 0 0.5rem;
  }

  &__data-div-total {
    color: #666;
    font-size: small;
    margin-left: 0.5rem;
  }
  &__data-div-total span {
    color: #666;
    font-size: small;
  }

  &__section-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: small;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 2px;
  }

  &__toggle-button {
    background-color: inherit;
    box-shadow: none;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &__missing_title {
    display: flex;
    margin: 1rem 2.5rem;
    font-weight: 600;
    font-size: large;
    color: black;
  }
}

.report-details__take-action {
  margin-top: 20px;
  padding: 20px;
  text-align: start;

  .report-details__action-title {
    font-weight: 400;
    margin-bottom: 1rem;
    color: black;
  }

  .report-details__action-group {
    margin-bottom: 20px;

    h5 {
      font-size: 1rem;
      font-weight: bolder;
      margin-bottom: 10px;
      color: black;
    }

    .report-details__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Creates two columns */
      gap: 20px; /* Adds spacing between items */
      justify-items: center;
      align-items: start;
      margin-bottom: 1.5rem;
    }
    .report-details__list_main {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Creates two columns */
      gap: 20px; /* Adds spacing between items */
      width: 75%;
      margin: auto;
      justify-items: center;
      align-items: start;
      margin-bottom: 1.5rem;
    }
    .report-details__checkbox-group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border-radius: 9px;
      width: 100%;
      height: 100%;

      label {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        color: black;

        input {
          margin-right: 8px;
          accent-color: black;
        }

        input[type='checkbox'] {
          appearance: none;
          width: 16px;
          height: 16px;
          border: 1px solid black;
          border-radius: 3px;
          outline: none;
          cursor: pointer;
          background-color: transparent;

          /* Tick color when checked */
          &:checked {
            background-color: white;
            position: relative;

            &::after {
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              margin: auto;
              margin-top: 2px;
              background-color: black;
              /* Tick color */
              clip-path: polygon(
                14% 44%,
                0 32%,
                36% 100%,
                100% 0,
                85% 0,
                35% 80%
              );
            }
          }
        }
      }
    }

    .report-details__checkbox-group button {
      width: 100%;
      margin: auto;
      margin-top: 1rem;
    }

    .report-details__action-button-div {
      display: flex;
      justify-content: center;
    }
  }
}

.info-image {
  top: 10% !important;
}
/* Medium screens (e.g., tablets, 768px and up) */
@media (max-width: 1024px) {
  .report-details {
    &__subSection {
      max-width: 100%;
      padding: 15px;
    }

    &__data-div,
    &__duplicate-data-div {
      width: 45%;
      margin: 0 auto;
    }
  }
}

/* Small screens (e.g., mobile, 480px and up) */
@media (max-width: 768px) {
  .report-details {
    &__subSection {
      padding: 10px;
      margin-right: 14px;
    }

    &__card {
      flex-direction: column;
      align-items: center;
    }

    &__data-div,
    &__duplicate-data-div {
      width: 80%;
      margin-bottom: 15px;
    }

    &__actions {
      flex-wrap: wrap;
      gap: 5px;
    }

    &__toggle-button {
      font-size: 0.9rem;
      padding: 5px 8px;
    }
  }

  .report-details__take-action {
    padding: 10px;

    .report-details__action-group {
      flex-direction: column;
      align-items: flex-start;

      .report-details__checkbox-group {
        flex-direction: column;
      }
    }
  }
}

/* Extra small screens (e.g., very small devices, 360px and up) */
@media (max-width: 480px) {
  .report-details {
    font-size: 0.85rem;

    &__subtitle {
      font-size: 0.8rem;
      padding: 5px 8px;
    }

    &__data-div,
    &__duplicate-data-div {
      width: 93%;
    }

    &__actions {
      gap: 3px;
    }
  }
}

.audit-report__chart-container {
  display: flex;
  justify-content: center;
}
.audit-report__chart {
  height: 27rem;
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  margin-bottom: 8rem;
}

.audit-report__chart canvas {
  height: 360px !important;
  width: 65vw !important;
  margin-left: 2rem;
}

@media (min-width: 1200px) {
  /* Adjust this breakpoint as needed */
  .audit-report__chart canvas {
    height: 400px !important;
    width: 65vw !important;
    margin-left: 3rem;
  }
}

.audit-report__risk-text {
  flex: 1;
  margin: 0 2rem;
  text-align: start;
}

.graph-text {
  font-size: medium;
  text-align: start;
  margin-left: 2rem;
}

.risk-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.risk-dot {
  width: 30px;
  height: 30px;
  // background-color: #39c4076b;
  border-radius: 50%;
  display: inline-block;
}
.audit-report__risk-text h3 {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

.audit-report__risk-text p {
  font-size: 14px;
  color: black;
  line-height: 1.75;
  margin-top: 1rem;
}
