.cms-react-boilerplate__container {
  text-align: center;
  background-color: #f8fafd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  max-height: 99vh;
}

button {
  border-color: transparent;
  background-color: #000;
  color: #fff;
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
  font-size: medium;
}

.take_action {
  margin-top: 3px;
}

.sidebar-button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }

  &:hover {
    background-color: #e2e6ea;
  }
}

.sticky {
  position: fixed;
  top: 0; /* Sticks at the top */
  width: 100%; /* Adjust width if necessary */
  z-index: 1000;
  background: white; /* Keep it visible */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.past-reports {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  color: black;
  text-align: start;
  padding: 5px 8px;
  position: absolute;
  font-size: medium;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  bottom: 90%;
  left: 60%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.tooltip-content {
  color: black;
  text-align: start;
  padding: 1rem;
  position: absolute;
  font-size: small;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  top: 90%;
  left: 55%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
}

.tooltip-wrapper:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
.tooltip-wrapper:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}
